<div id="toc" class="toc-article">
    <strong class="toc-title"><%= __('toc.title') %></strong>
    <%- toc(post.content) %>
</div>
<style>
    .left-col .switch-btn {
        display: none;
    }
    .left-col .switch-area {
        display: none;
    }
</style>

<input type="button" id="tocButton" value="<%= __('toc.hide') %>"  title="<%= __('tooltip.tocButton') %>">

<script>
    var valueHide = "<%= __('toc.hide') %>";
    var valueShow = "<%= __('toc.show') %>";

    if ($(".left-col").is(":hidden")) {
        $("#tocButton").attr("value", valueShow);
    }

    $("#tocButton").click(function() {
        if ($("#toc").is(":hidden")) {
            $("#tocButton").attr("value", valueHide);
            $("#toc").slideDown(320);
            $(".switch-btn, .switch-area").fadeOut(300);
        }
        else {
            $("#tocButton").attr("value", valueShow);
            $("#toc").slideUp(350);
            $(".switch-btn, .switch-area").fadeIn(500);
        }
    })

    if ($(".toc").length < 1) {
        $("#toc, #tocButton").hide();
        $(".switch-btn, .switch-area").show();
    }


    var $titleHasChild = $("#toc .toc-item:has(> .toc-child) > .toc-link");
    var $tocTitle = $("#toc .toc-title");
    var $subToc = $titleHasChild.next(".toc-child");

    $("#toc .toc-item:has(> .toc-child)").prepend("<i class='fa fa-caret-down'></i><i class='fa fa-caret-right'></i>");

    var $toggleIcon = $("#toc .toc-item > i");
    var $iconToExpand = $(".toc-item > .fa-caret-right");
    var $iconToFold = $(".toc-item > .fa-caret-down");
    $iconToExpand.addClass("hide");

    $toggleIcon.click(function(){
        $(this).siblings(".toc-child").slideToggle(100);
        $(this).toggleClass("hide");
        $(this).siblings("i").toggleClass("hide");
    })

    $titleHasChild.click(function(){
        var $curentTocChild = $(this).siblings(".toc-child");
        if ($curentTocChild.is(":hidden")) {
            $curentTocChild.show(100);
            $(this).siblings("i").toggleClass("hide");
        }
    })

    if ($titleHasChild.length) {
        $tocTitle.addClass("clickable");
        $tocTitle.click(function(){
            if ($subToc.is(":hidden")) {
                $subToc.show(150);
                $iconToExpand.removeClass("hide");
                $iconToFold.addClass("hide");
            } else {
                $subToc.hide(100);
                $iconToExpand.addClass("hide");
                $iconToFold.removeClass("hide");
            }
        })
        if ($(".left-col").is(":hidden")) {
            $("#container .toc-article .toc").css("padding-left", "1.4em");
            $("#container .toc-article .toc-title").css("display", "initial");
        }
    }

</script>

<% if (theme.toc_nowrap) { %>
    <style>
        .toc-link {
            display: inline-block;
            white-space: nowrap; 
            width: 100%; 
            overflow-x: hidden; 
            text-overflow: ellipsis;
        }
    </style>

    <script>
        $(document).ready(function() {
            $(".toc li a").mouseover(function() {
                var title = $(this).find('.toc-text').text();
                $(this).attr("title", title);
            });
        })
    </script>
<% } %>